# Introducing Lists

## 1. What Is a List?

In [1]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

### 1.1 Accessing Elements in a List

In [2]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

trek

### 1.2 Index Positions Start at 0, Not 1

In [3]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])
print(bicycles[-1])

cannondale
specialized
specialized

### 1.3 Using Individual Values from a List

In [4]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = 'My first bicycles was a ' + bicycles[0].title() + '.'
print(message)

My first bicycles was a Trek.

### Exercises

In [5]:
#1-1
names = ['ali', 'vali', 'anvar']
print(names[0].title())
print(names[1].upper())
print(names[-1].title())

Ali
VALI
Anvar

In [6]:
#1-2
names = ['ali', 'vali', 'anvar']
message = 'Hello, ' + names[-2].title() + '!'
print(message)

Hello, Vali!

In [7]:
#1-3
cars = ['tesla', 'toyota', 'hyundai', 'audi']
print('I would like to own a ' + cars[-3].title() + '!')

I would like to own a Toyota!

## 2. Changing, Adding, and Removing Elements

### 2.1 Modifying Elements in a List

In [8]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

### 2.2 Adding Elements to a List

#### 2.2.1 Appending Elements to the End of a List

In [9]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [10]:
motorcycles = []

motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki') 

print(motorcycles)

['honda', 'yamaha', 'suzuki']

#### 2.2.2 Inserting Elements into a List

In [11]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(-2, 'bmw')  #insert moves to the right hand
print(motorcycles)

['honda', 'bmw', 'yamaha', 'suzuki']

### 2.3 Removing Elements from a List

#### 2.3.1 Removing an Item Using the del Statement

In [12]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

#permanently
del motorcycles[-1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']

#### 2.3.2 Removing an Item Using the pop() Method

In [13]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [14]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
message = 'My last owned motorcycle is a ' + last_owned.title() + '!'
print(message)

My last owned motorcycle is a Suzuki!

#### 2.3.3 Popping Items from any Position in a List

In [15]:
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
message = 'My first owned motorcycle was a ' + first_owned.title() + '!'
print(message)

My first owned motorcycle was a Honda!

#### 2.3.4 Removing an Item by Value

In [16]:
motorcycles = ['honda', 'yamaha', 'ducati', 'suzuki']
print(motorcycles)

#permanently and only the first occurence (if many => while)
motorcycles.remove('yamaha')
print(motorcycles)

['honda', 'yamaha', 'ducati', 'suzuki']
['honda', 'ducati', 'suzuki']

In [17]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)

print(motorcycles)
message = 'A ' + too_expensive.title() + ' is too expensive for me.'
print(message)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']
A Ducati is too expensive for me.

### Exercises

In [18]:
#2-1
names = ['anvar', 'bekzod', 'vali']
print('Hello, ' + names[0].title() + ', can you have a dinner with me?')
print('Hello, ' + names[1].title() + ', would you like some coffee?')
print('Hello, ' + names[2].title() + '!')

Hello, Anvar, can you have a dinner with me?
Hello, Bekzod, would you like some coffee?
Hello, Vali!

In [19]:
#2-2
names = ['anvar', 'bekzod', 'vali']
names[1] = 'bexruz'
print(names[1].title() + ', would you like coffee insted of Bekzod?')

Bexruz, would you like coffee insted of Bekzod?

In [20]:
#2-3
names = ['anvar', 'bekzod', 'vali']
names.insert(0, 'asror')
names.insert(2, 'baxrom')
names.append('davron')
print(names)

['asror', 'anvar', 'baxrom', 'bekzod', 'vali', 'davron']

In [21]:
#2-4
names = ['asror', 'anvar', 'baxrom', 'bekzod', 'vali', 'davron']
del names[1]
names.remove('baxrom')
names.remove('vali')
left = names.pop(2).title()  #changes applied linearly
print(left)

Davron

## 3. Organizing a List

### 3.1 Sorting a List Permanently with the sort() Method

In [22]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()   #permanently
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [23]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

### 3.2 Sorting a List Temporarily with the sorted() Function

In [24]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

print('Here is the orginal order of the list')
print(cars)

print('\nHere is the sorted order of the list')
print(sorted(cars))  #temporarily

print('\nHere is the original order of thelist again')
print(cars)

Here is the orginal order of the list
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted order of the list
['audi', 'bmw', 'subaru', 'toyota']

Here is the original order of thelist again
['bmw', 'audi', 'toyota', 'subaru']

### 3.3 Printing a List in Reverse Order

In [25]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()  #permanently, but reverse() one more time = original order
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

### 3.4 Finding the Length of a List

In [26]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(len(cars))

4

### Exercises

In [27]:
#3-1
places = ['dubai', 'tokio', 'moscow', 'london', 'paris']
print(places)
print()

print(sorted(places))
print(places)
print()

print(sorted(places, reverse=True))
print(places)
print()

places.reverse()
print(places)
places.reverse()
print(places)
print()

places.sort()
print(places)
places.sort(reverse=True)
print(places)

['dubai', 'tokio', 'moscow', 'london', 'paris']

['dubai', 'london', 'moscow', 'paris', 'tokio']
['dubai', 'tokio', 'moscow', 'london', 'paris']

['tokio', 'paris', 'moscow', 'london', 'dubai']
['dubai', 'tokio', 'moscow', 'london', 'paris']

['paris', 'london', 'moscow', 'tokio', 'dubai']
['dubai', 'tokio', 'moscow', 'london', 'paris']

['dubai', 'london', 'moscow', 'paris', 'tokio']
['tokio', 'paris', 'moscow', 'london', 'dubai']

In [28]:
#3-2
names = ['asror', 'anvar', 'baxrom', 'bekzod', 'vali', 'davron']
message = 'The number of guests is ' + str(len(names)) + '.'
print(message)

The number of guests is 6.

## 4. Avoiding Index Errors When Working with Lists

In [29]:
#IndexError
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[3])

IndexError: list index out of range

In [30]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[-1])

suzuki